@charset "UTF-8";

body{
    background-image: linear-gradient(to top,#0026FA, #0053E0, #008FF5, #0BB3DE, #0DFFFB);
    margin-top: 0%;
    padding-top: 0%;
    border-top: 0px;
}
#myCarousel{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rounded-circle{
    width: 220px;
    height:220px;
}
.carousel-inner{
    border-radius: 25px;     
}
.carousel-caption{
    color: rgb(12, 12, 12);
    font-size: large;
}
.nav-item{
  font-size: 20px;
}